.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 30px;
    .loginLogo {
        img {
            object-fit: contain;
            height: 150px;
        }
    }
    button {
        width: 200px;
        background: #738adb;
        color: #fff;
        font-weight: 800;
        transition: all .3s;
        &:hover {
            background: #000;
            color: #738adb;
        }
    }
}